/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-size: 18pt;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* HERE STARTS STYLING */

:root {
    --yellow: #E3B04B;
    --light-gray: #F8F8F8;
    --medium-gray: #515151;
    --dark-gray: #2B2B28;
    --light-yellow: #F1D6AB;
}

.bold {
    font-weight: bold;
}

.light {
    font-weight: light;
}

.title {
    font-size: 2em;
}

svg {
    width: 150px;
    height: auto;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
}

#main_container {
    display: flex;
    align-items: center;
}

div#left-side {
    width: 50vw;
    height: 100vh;
    padding: 80px 150px 80px 200px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: space-between;
    background-color: var(--light-gray);
    box-sizing: border-box;
    font-family: inherit;
}

div#right-side {
    width: 50vw;
    height: 100vh;
    padding: 80px 200px 80px 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
    background-color: var(--dark-gray);
    color: var(--light-gray);
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: var(--yellow);
}

.black_address {
    color: #2B2B28;
    font-weight: inherit;
    margin-top: 200px;
}

a:hover {
    color: var(--light-yellow);
}

form {
    display: flex;
    flex-direction: column;
}

.terms {
    font-size: 1em;
}

label {
    font-size: .6em;
    position: absolute;
    top: -.5em;
    left: 2.2em;
    padding: 0 13px;
    background-color: var(--dark-gray);
}

.input_cont {
    position: relative;
    margin: .5em 0;
}

input {
    width: 100%;
    height: 2.7em;
    padding-left: 42px;
    border-radius: 1em;
    border: 2px solid var(--light-yellow);
    background-color: var(--dark-gray);
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    box-sizing: border-box;
}

input[type="password"] {
    color: var(--light-gray);
    font-size: inherit;
    font-weight: 700;
    letter-spacing: .2em;
}

input:focus {
    outline: none;
    border: 2px solid var(--yellow);
}

input:focus::placeholder {
    color: transparent;
}

.input_cont.checkbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"] {
    appearance: none;
    background-color: var(--light-gray);
    border: none;
    width: 1em;
    height: 1em;
    padding: 0;
    border-radius: 0;
}

.input_cont.checkbox input,
.input_cont.checkbox label {
    flex: 0 0 auto;
    font-size: inherit;
    position: static;
}

input[type="checkbox"]:checked {
    appearance: none;
    background-color: var(--yellow);
    border: 2px solid white;
    width: 1em;
    height: 1em;
    padding: 0;
    border-radius: 0;
}

label.terms {
    padding: 0;
    top: 10%;
}

button {
    margin: 0 100px;
    height: 80px;
    background-color: var(--yellow);
    color: var(--dark-gray);
    border: none;
    font-size: inherit;
    font-weight: bold;
    cursor: pointer;
}